body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u633 {
  position:absolute;
  left:0px;
  top:40px;
}
#u633_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background-color:rgba(255, 255, 255, 0.8862745098039215);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.12156862745098039);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.12156862745098039);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.12156862745098039);
}
#u633_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#797979;
  text-align:left;
}
#u634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:20px;
  width:120px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u635_img.selected {
}
#u635.selected {
}
#u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:20px;
  width:120px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_img.selected {
}
#u636.selected {
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:20px;
  width:120px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_img.selected {
}
#u637.selected {
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:20px;
  width:120px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u638_img.selected {
}
#u638.selected {
}
#u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
}
#u639_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background-color:rgba(39, 153, 206, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  display:flex;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:12px;
  width:149px;
  height:16px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u641 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:8px;
  width:80px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
